---
import Layout from "../layouts/Layout.astro";
---

<Layout title="特定商取引法に基づく表記 | Roborave Mie">
    <main class="min-h-screen bg-swiss-white text-swiss-black py-24 px-6">
        <div class="max-w-4xl mx-auto">
            <h1
                class="text-4xl md:text-6xl font-black mb-12 tracking-tighter uppercase border-b-8 border-swiss-black pb-4"
            >
                特定商取引法
            </h1>

            <div
                class="border-4 border-black shadow-hard bg-white p-8 rounded-2xl"
            >
                <table class="w-full text-left border-collapse">
                    <tbody class="divide-y-2 divide-gray-100">
                        <tr class="flex flex-col md:table-row">
                            <th
                                class="py-4 pr-8 font-bold whitespace-nowrap md:w-1/4"
                                >販売業者</th
                            >
                            <td class="py-4 text-lg font-medium"
                                >Roborave Mie 実行委員会</td
                            >
                        </tr>
                        <tr class="flex flex-col md:table-row">
                            <th class="py-4 pr-8 font-bold whitespace-nowrap"
                                >運営統括責任者</th
                            >
                            <td class="py-4 text-lg font-medium">[代表者名]</td>
                        </tr>
                        <tr class="flex flex-col md:table-row">
                            <th class="py-4 pr-8 font-bold whitespace-nowrap"
                                >所在地</th
                            >
                            <td class="py-4 text-lg font-medium"
                                >三重県尾鷲市 [住所]</td
                            >
                        </tr>
                        <tr class="flex flex-col md:table-row">
                            <th class="py-4 pr-8 font-bold whitespace-nowrap"
                                >電話番号</th
                            >
                            <td class="py-4 text-lg font-medium"
                                >[電話番号] (請求があり次第提供致します)</td
                            >
                        </tr>
                        <tr class="flex flex-col md:table-row">
                            <th class="py-4 pr-8 font-bold whitespace-nowrap"
                                >メールアドレス</th
                            >
                            <td class="py-4 text-lg font-medium"
                                >info@roborave-mie.com</td
                            >
                        </tr>
                        <tr class="flex flex-col md:table-row">
                            <th class="py-4 pr-8 font-bold whitespace-nowrap"
                                >販売価格</th
                            >
                            <td class="py-4 text-lg font-medium"
                                >各大会ページに記載しております。</td
                            >
                        </tr>
                        <tr class="flex flex-col md:table-row">
                            <th class="py-4 pr-8 font-bold whitespace-nowrap"
                                >支払方法</th
                            >
                            <td class="py-4 text-lg font-medium"
                                >クレジットカード、銀行振込</td
                            >
                        </tr>
                        <tr class="flex flex-col md:table-row">
                            <th class="py-4 pr-8 font-bold whitespace-nowrap"
                                >返金・キャンセルについて</th
                            >
                            <td class="py-4 text-lg font-medium"
                                >参加費の支払い完了後は、主催者による大会中止の場合を除き、原則として返金は致しかねます。</td
                            >
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</Layout>
